.orange { color: #f60;}
/*invest_list_061213*/
a:hover{ color: #ff6c00;}
.bgcDfe{width:100%; background-color: #f6f6f6;}
.topBnner{margin-bottom:9px;}
.projectBox{ width: 970px; margin: 0 auto;}
.projectCon .content .conItem{ margin-bottom: 9px; border-bottom: #cacaca solid 1px; position: relative; border-radius: 3px; background-color: #fff;}
.projectCon .content .conItem .progress{ width: 70px; height: 106px; text-align: center; line-height: 12px; color: #05afe7;}
.projectCon .content .conItem .progress img{display: inline-block; *zoom: 1; *display: inline; margin-top: 28px; vertical-align: top;}
.projectCon .content .conItem .infor{ width: 250px; margin: 15px 10px 15px 35px;}
.projectCon .content .conItem .infor h3{ padding-top: 10px; height: 35px; font-size: 16px; line-height: 18px; overflow: hidden; font-weight: normal;}
.projectCon .content .conItem .infor h3 a{ color: #000;}
.projectCon .content .conItem .infor h3 a:hover{ color: #297bc7;}
.projectCon .content .conItem .infor h3 span,.projectCon .content .conItem .infor h3 b{ display: inline-block; *zoom: 1; *display: inline; margin-top: 1px; width: 21px;  margin-left: 5px; border:#FF7171 solid 1px; -webkit-border-radius: 3px;  -moz-border-radius: 3px;  border-radius: 3px; font-size: 12px; line-height: 18px; font-weight: normal; color: #FF7171; text-align: center; position: relative; top: -2px; behavior:url(template/js/PIE.htc);}
.projectCon .content .conItem .infor h3 b{ width: auto; padding: 0 5px; }
.projectCon .content .conItem .infor h3 b:hover { background: #FF7171 ; color: #fff; }
.projectCon .content .conItem .infor .time{ line-height: 20px;}
.projectCon .content .conItem .infor .time b{ display: inline-block; *zoom: 1; *display: inline; width: 14px; height: 14px; margin-right: 5px; background: url(../images/clock.png) 0 0 no-repeat; vertical-align: top;}
.projectCon .content .conItem .number{ width:420px; margin: 15px 0; padding: 20px 0 5px; border-right: #e3e3e3 dashed 1px;}
.projectCon .content .conItem .number li{ float: left; position: relative; width:125px; font: 18px/18px "Arial","Microsoft YaHei"; text-align: center; color: #626161;}
.projectCon .content .conItem .number li.lastli{ padding: 0; margin: 0;}
.projectCon .content .conItem .number li .size14{ font-size: 14px;}
.projectCon .content .conItem .number li.red{ color: #f62e0e;}
.projectCon .content .conItem .number li span{ font-size: 12px; color: #464646;}
.projectCon .content .conItem .number li p{ font-size: 12px; line-height: 30px; color: #000;}
.projectCon .content .conItem .btnbox { width:155px; padding: 0px 0 0 50px; *padding-top:30px; line-height: 21px; color: #3c3c3c;float:none;height:106px;*height:76px;display:table-cell;vertical-align:middle;}
.projectCon .content .conItem .btnbox .btndiv .finish {vertical-align:middle;position: relative; margin-top: 0px; border-bottom: #d6dde2 dashed 1px; color: #21d4ac; font-size: 14px;}
.projectCon .content .conItem .btnbox .btndiv .finish span{ position: absolute; bottom: -10px; left: 50%; margin-left: -37px; display: block; width: 74px; background-color: #fff; text-align: center;}
.projectCon .content .conItem .btnbox .btnPrice b{color:#f62e0e;}
.projectCon .content .conItem .btnbox .btn { display: block; vertical-align:middle;width: 155px; height: 28px; margin-top: 10px; background: #05AFE7; font: 14px/28px "Microsoft YaHei"; color: #fff; text-align: center; behavior:url(../images/pie.htc); }
.projectCon .content .conItem .btnbox .btn:hover { background: #0f8dce;}
.projectCon .content .conItem .btnbox .progressBg{ height: 2px; background-color: #eeeeee;}
.projectCon .content .conItem .btnbox .progressBg .progressBar{ height: 2px; background-color: #05afe7}
.projectCon .content .conItem .btnbox .btndiv .finish{vertical-align:middle;position: relative; margin-top: 0px; border-bottom: #d6dde2 dashed 1px; color: #21d4ac;}
.projectCon .content .conItem .btnbox .btndiv .finish span{ position: absolute; bottom: -10px; left: 50%; margin-left: -37px; display: block; width: 74px; background-color: #fff; text-align: center;}
.projectCon .content .conItem .btnbox .btndiv .w120{ width: 120px; }
.projectCon .content .conItem .btnbox .btndiv .w120 span{ width: 50px; margin-left: -25px;}
.projectList .projectCon .content .conItem .progress{ width: 80px;}
.projectList .projectCon .content .conItem .number li.red{ font-size: 21px;}


/*investmentView061213*/
.invesMainWrap{background-color:#f6f6f6;padding-top:15px;padding-bottom:70px;font-family:'Microsoft YaHei'}
.invesMain{ width:971px; margin:0 auto; height:100%;}
.invesMainleft{ width:auto;}
.introduce{ clear:both; width:auto;height:260px; margin-top:5px;}
.introduce .left{width:630px;height:100%;float: left;background:#fff;}
.introduceText_top{height:60px;border-bottom:1px dashed #ccc;margin:0 30px;}
.introduceText_top h2 {font-size:16px;color:#333;line-height:60px;float: left; font-weight: normal;}
.introduceText_top h2 i { margin-left:5px;border:1px solid #FF7171;padding:0 5px;font-size:12px;font-style: normal;color:#FF7171;-webkit-border-radius: 3px;  -moz-border-radius: 3px;  border-radius: 3px;}
.introduceText_top h2 i:hover { background: #FF7171 ; color: #fff; }
.introduceText_top p{float: right;padding-top:24px;}
.introduceText_top p span{font-size:12px;padding:0 5px;border:1px solid #3399ff;color:#3399ff;margin-left:5px;-webkit-border-radius: 3px;  -moz-border-radius: 3px;  border-radius: 3px;position: relative;overflow: hidden;}
.introduceText_top p span em { position:absolute;top:-30px;left:10px;height:20px;line-height:20px;text-align:center;background: #3399ff;border: 1px solid #3399ff;border-radius: 3px;color:#fff;display: none;white-space: nowrap;padding: 0 6px;}
.introduceText_top p span em i{display:block;width: 0;height:0; border-width:5px;  border-style:solid dashed dashed dashed;  border-color:#3399ff transparent transparent transparent;position: absolute;bottom:-10px;left:5px;}
.introduceText_top p span:hover{background:#3399ff;color:#fff;}
.introduceText_top p span:hover em{display: block;}
.introduceText .list{width:570px;display: block;margin-left:30px;clear: both}
.introduceText .list li{width:21%;float: left;}
.introduceText .list li p.label{font-size:12px;color:#333333;line-height:40px;height:40px;}
.introduceText .list li p.num{font-size:14px;color:#666666;line-height:40px;height:40px;margin-top:25px;}
.introduceText .list li p.num em{font-size:26px;}
.introduceText .list li p.num.red{color:#ff3333;}
.introduceText .list li p.num.red em { font-size: 30px;}
.introduceText_footer{clear: both;margin-left:30px;font-size:14px;color:#000;padding-top:35px;}
.introduceText_footer span{margin-right:142px;}
.introduceText_footer i{font-style: normal;}
.introduce .inright{width:245px;height:230px;margin-left:6px;float: left;background:#fff;padding:30px 45px 0;}
.introduce .inright .price{font-size:14px;color:#333;line-height:40px;}
.introduce .inright .price em{color:#ff3333;}
.introduce .inright .pay{width:245px;height:40px;margin-top:10px;}
.introduce .inright .pay input{border:1px solid #ccc;height:33px;line-height:33px;width:235px;padding-left:10px;}
.introduce .inright .payBtn{margin-top:20px;}
.introduce .inright .payBtn a {display:block;width: 245px;height:40px;background:#05AFE7;color:#fff;font-size:16px;text-align: center;line-height:40px;}
.introduce .inright .payBtn a:hover { background: #0f8dce;}
.introduce .inright .payBtn span {display:block;width: 245px;height:40px;background:#ccc;color:#fff;font-size:16px;text-align: center;line-height:40px;}
.introduce .inright .tips { line-height: 30px; color: #f00;}
.productInfo{width:100%;height:180px;background:#fff;margin-top:6px;}
.productBox h4 i{display:block;float:left;width:2px;height:40px;background:#39f;}
.productBox h4 em{display:block;float:left;width:909px;font-size:16px;color:#333;height:40px;line-height:38px;border-bottom:1px solid #ccc;margin-left:30px;}
.productInfo ul{height:140px;padding-top:40px;*height:auto;*padding-top:0px;margin-left:40px;}
.productInfo ul li{width:283px;height:58px;margin:30px 10px 0;float: left; position: relative;}
.productInfo ul li p{ position: absolute;top:0;left:0;margin-left:75px;font-size:16px;color:#333;line-height: 1.8em;}
.productInfo ul li p span{display: block;font-size:14px;color:#999;}
.productIntro{width:100%;height:100%;background:#fff;margin-top:6px;padding-bottom:40px;}
.productIntro.productBox h4 i{display:block;float:left;width:2px;height:40px;background:#ff6666;}
.productIntro h5{clear: both;font-size:16px;color:#333;margin-top:30px;line-height:60px;padding:0 30px;}
.productIntro p{clear: both;font-size:14px;line-height:40px;padding:0 30px;}
.productIntro p a{color:#666;}
.productIntro p a:hover{color:#297bc7;}
.layer-photos {padding:15px 30px 0 13px;height:150px;}
.layer-photos img{width:220px;height:150px;float: left;margin-left:12px;}
.investmentRecords{width:100%;height:100%;background:#fff;margin-top:6px;padding-bottom:40px;}
.investmentRecords.productBox h4 i{display:block;float:left;width:2px;height:40px;background:#f93;}
.labmainBox{background-color:#fff; border-radius: 5px;}
.labTitle{height:43px;line-height:43px;font-size:18px;color:#fff;background: url(../images/bg_blj.png) no-repeat left top;padding-left:35px;border-bottom:2px solid #13a3ff;}
.labContent{padding:50px 30px 0 30px;margin-top:10px;}
.invoteList{width:100%;}
.invoteList tr{height:36px;line-height: 36px;background:#fff;font-size:14px;color:#333;}
.invoteList tr.tab_bg{background:#f6f6f6;}
.invoteList td{font-size:14px;color:#666;text-align:center;}
/*pagingWrap*/
.pagingWrap{ padding: 20px 0 55px; text-align: center;}
.pagingWrap a,.pagingWrap .current{ display: inline-block; *zoom: 1;*display: inline; margin-right: 8px; padding: 0 12px 0 13px; height: 32px; font: 12px/32px "Microsoft YaHei"; color: #000; background-color: #fff; text-align: center;box-shadow: 1px 1px 1px #ddd;}
.pagingWrap a:hover,.pagingWrap .current{ background-color: #3c9ef1; color: #fff; }
/*投资弹窗*/
.invest_box { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 10; width: 100%; height: 100%; background: rgba(0,0,0,0.5);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}
.invest_box_con { position: absolute; top: 50%; left: 50%; background: #fff; width: 540px; height: 480px; margin: -240px 0 0 -270px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;behavior: url(../images/pie.htc); }
.invest_box_con h2 { color: #000; text-align: center; height: 70px; line-height: 70px; font-size: 20px;}
.invest_box_con h2 a { background: #ccc; position: absolute; right: -15px; top: -15px; font-size: 30px; color: #fff; width:30px; height: 30px; line-height: 28px; border-radius: 100%; font-weight: 100;}
.invest_box_con h2 a:hover { background: #05AFE7;}
.invest_box_con .invest_num,.invest_box_con .invest_form { width: 415px; margin: 0 auto; font-size: 16px;}
.invest_box_con .invest_num { background: #FFFBF5; padding: 10px 0;}
.invest_box_con .invest_num dl { display: block; height: 40px; line-height: 40px;}
.invest_box_con .invest_form { padding-top: 20px;}
.invest_box_con .invest_form dl { display: block; height: 36px; padding: 10px 0; line-height: 36px;}
.invest_box_con dl dt { float: left; width: 24%; text-align: right; color: #666;}
.invest_box_con dl dd { float: left; width: 76%; position: relative;}
.invest_form a {font-size: 14px; }
.invest_form a:hover { color: #0088CC; }
.invest_box_con .invest_btn { display: block; width: 380px; height: 46px; line-height: 46px; text-align: center; border: 0; background: #05AFE7; color: #fff; font-size: 18px; border-radius: 6px; margin: 0 auto;transition: all 0.4s ease;}
.invest_box_con .invest_btn:hover { background: #0088CC; color: #fff; transition: all 0.4s ease;}
.invest_box_con p { padding-top: 30px;}
.invest_box_con p label{ margin-left: 20px; font-size: 14px;}
.invest_box_con p label input[type=checkbox] { vertical-align: middle; position: relative; top: -1px;}
.invest_box_con .ipt1 { width: 190px; height: 22px; line-height: 22px; padding: 6px 8px; border: 1px #ddd solid;}
.jl_select { width: 230px; height: 36px; padding: 0 15px; background: #eee; font-size: 14px; position: relative; cursor: pointer;}
.jl_select:hover { background: #ddd;}
.jl_select i { display: inline-block; width: 0; height: 0; position: absolute; right: 15px; top:15px;border-left: 8px solid transparent;border-right: 8px solid transparent; border-top: 8px solid #999;}
.jl_select i.cur { border-top: 0;border-bottom: 6px solid #999;}
.jl_option { display: none; width: 260px;  position: absolute; top: 50px; left: 0; z-index: 10; background: #fff; border: 1px #ddd solid; font-size: 14px;}
.jl_option ul { height: 200px; overflow-y: scroll;}
.jl_option i.i1,.jl_option i.i2 { display: inline-block; width: 0; height: 0; position: absolute; right: 15px; z-index: 11; border-left: 8px solid transparent;border-right: 8px solid transparent; }
.jl_option i.i1 { top: -9px; border-bottom: 8px solid #ddd;}
.jl_option i.i2 { top: -8px;border-bottom: 8px solid #fff;}
.jl_option li { height: 36px; line-height: 36px; padding: 0 15px; cursor: pointer; }
.jl_option li:hover { background: #eee;}
.jl_option li.hb,.jl_option li.coupon,.jl_option li.gray{ font-size: 12px; line-height: 14px; height: 28px; padding: 8px 15px; }
.jl_option li.gray {color: #999;}
/*bread*/
.bread { background:#f0efef; height:30px; line-height:30px; overflow: hidden; width: 100%;color: #929292;}
.bread ul { width:971px; margin:0 auto;}
.bread ul li{ float:left; background:url(../images/bread_bg.gif) right 0 no-repeat ; padding-right:35px; padding-left:15px; }
.bread ul li.begin { padding-left:0; }
.bread ul li.end { background:none;}
.bread ul li a {  color: #929292;}
.bread ul li a:hover {  color: #297bc7;}
/*投资页面*/
.jjs_invest { width: 970px; margin: 0 auto 50px; overflow: hidden; border: 1px #dfdfdf solid; border-top-width: 4px; padding: 20px 0 40px 0; font-size: 16px; color: #333; }
.jjs_invest dl { overflow: hidden; line-height: 28px; margin-top: 20px;}
.jjs_invest dl dt { float: left; padding-left: 320px;}
.jjs_invest a { color: #297bc7;}
.jjs_invest .orange { color: #f57401; font-size: 20px;} 
.jjs_invest .tips { color: #f00; font-size: 12px;}
.jjs_invest input[type=password] { width: 200px; padding: 0 6px; height: 28px; line-height: 28px; border: 1px solid #c9c9c9}
.jjs_invest button { border: 0; cursor: pointer; background: #05AFE7; color: #fff; font-size: 22px; padding: 10px 80px; border-radius: 4px;}
.jjs_invest button:hover { background: #0292c1;}
.jjs_invest .ft12 { font-size: 12px;}

.jjs_invest_suc { background: #f4f4f4; width: 970px; margin: 10px auto 80px auto; padding: 30px 0; overflow: hidden; font-size: 14px; }
.jjs_invest_suc i { display: block;  width: 77px; height: 77px; background: url(../images/indexicon.png) no-repeat 0 -168px; float: left; margin-left: 200px; margin-right: 20px;}
.jjs_invest_suc h2 { color: #2ca735; font-size: 26px; font-weight: normal; line-height: 50px;}
.jjs_invest_suc a,.blue { color: #297bc7;}

/*客服问答*/
.q_a { padding:30px 50px 50px 50px; margin: 20px auto 35px; background: #fff;}
.q_a h2 { line-height: 50px; border-bottom: 1px #eee solid; font-size: 18px;}
.q_a h2 span { border-bottom: 4px #4bc2fa solid; display: inline-block;}
.q_a .kefu { display: block; line-height: 40px; text-align: center; color: #fff; background: #4bc2f9; font-size: 16px; margin-top: 30px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.q_a .kefu:hover { background: #2eb9f9;}
.qa_list { position: relative; padding: 50px 0 100px 0; font-size: 12px; line-height: 18px;}
.qa_list .usr {display:inline-block;*display:inline;*zoom:1;left:0;line-height:22px;position:absolute;text-align:center;width:105px;height:83px;}
.qa_list .usr {margin-top:20px;}
.qa_list .usr p {padding:0;white-space:nowrap;text-align:center;width:105px;}
.qa_list .usr .usrPic {}
.qa_list .usr .usrName {overflow:hidden;width:99px;color:#0991d0;}
.qa_list .usr .usrTime {text-indent:-20px;width:100%;white-space:nowrap;}
.qa_list .usr a {display:block;width:83px;height:83px;padding:1px;border:1px solid #e3e3e3;}
.qa_list .usr img {width:83px;height:83px;}
.qa_list .qaDialogTxt { padding-left: 125px;}
.qa_list .qus {border:1px solid #e5e4e4;-moz-border-radius:6px; -webkit-border-radius:6px; -ms-border-radius:6px; border-radius:6px;  padding:28px 35px;position:relative;background-color:#F9F9F9;width:340px;margin-bottom:20px;font-size:13px;color:#3a3a3a;}
.qa_list .answr {border:1px solid #ffebaa;-moz-border-radius:6px; -webkit-border-radius:6px; -ms-border-radius:6px; border-radius:6px; padding:28px 35px;position:relative;background-color:#fffaea;margin-bottom:20px;font-size:13px;color:#ea8400;word-break:break-all; width: 340px; float: right;}
.qa_list b.qusArr,.qa_list b.answrArr {background:url(../images/indexicon.png) no-repeat 0px -400px;width:22px;height:22px;display:inline-block;*display:inline;zoom:1;position:absolute;}
.qa_list b.qusArr {left:-22px;}
.qa_list b.answrArr {background-position:-39px -400px;right:-22px;}
.qa_list .answrWrap {padding-right:135px;position:relative; overflow: hidden;}
.qa_list .svr {position:absolute;right:0;top:0;}
.qa_list .svr p {padding:0;white-space:nowrap;text-align:center;}
.qa_list .svr .svrPic img {height:95px;width:76px;}
.qa_list .svr p.svrName {overflow:hidden;width:120px;}