<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pursebao.invest.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.pursebao.invest.pojo.po.User">
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="pay_password" jdbcType="VARCHAR" property="payPassword" />
    <result column="vip" jdbcType="INTEGER" property="vip" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="name_pass" jdbcType="INTEGER" property="namePass" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="head_image" jdbcType="VARCHAR" property="headImage" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="account_id" jdbcType="VARCHAR" property="accountId" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, username, password, realname, id_card, pay_password, vip, score, name_pass, 
    email, phone, head_image, company_id, account_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where uid = #{uid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where uid = #{uid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pursebao.invest.pojo.po.User">
    insert into user (uid, username, password, 
      realname, id_card, pay_password, 
      vip, score, name_pass, 
      email, phone, head_image, 
      company_id, account_id)
    values (#{uid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realname,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{payPassword,jdbcType=VARCHAR}, 
      #{vip,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}, #{namePass,jdbcType=INTEGER}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{headImage,jdbcType=VARCHAR}, 
      #{companyId,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pursebao.invest.pojo.po.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="payPassword != null">
        pay_password,
      </if>
      <if test="vip != null">
        vip,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="namePass != null">
        name_pass,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="headImage != null">
        head_image,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="payPassword != null">
        #{payPassword,jdbcType=VARCHAR},
      </if>
      <if test="vip != null">
        #{vip,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="namePass != null">
        #{namePass,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="headImage != null">
        #{headImage,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pursebao.invest.pojo.po.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="payPassword != null">
        pay_password = #{payPassword,jdbcType=VARCHAR},
      </if>
      <if test="vip != null">
        vip = #{vip,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="namePass != null">
        name_pass = #{namePass,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="headImage != null">
        head_image = #{headImage,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pursebao.invest.pojo.po.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      pay_password = #{payPassword,jdbcType=VARCHAR},
      vip = #{vip,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      name_pass = #{namePass,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      head_image = #{headImage,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=VARCHAR},
      account_id = #{accountId,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
</mapper>