<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pursebao.manager.dao.LoanMapper">
  <resultMap id="BaseResultMap" type="com.pursebao.commons.pojo.po.Loan">
    <id column="lid" jdbcType="VARCHAR" property="lid" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="loan_use" jdbcType="VARCHAR" property="loanUse" />
    <result column="loan_amount" jdbcType="DOUBLE" property="loanAmount" />
    <result column="loan_limittime" jdbcType="INTEGER" property="loanLimittime" />
    <result column="loan_payway" jdbcType="INTEGER" property="loanPayway" />
    <result column="loan_goods" jdbcType="VARCHAR" property="loanGoods" />
    <result column="loan_worth" jdbcType="DOUBLE" property="loanWorth" />
    <result column="loan_begintime" jdbcType="DATE" property="loanBegintime" />
    <result column="loan_gettime" jdbcType="DATE" property="loanGettime" />
    <result column="loan_rate" jdbcType="DOUBLE" property="loanRate" />
    <result column="product_checked" jdbcType="DATE" property="productChecked" />
    <result column="product_publish" jdbcType="DATE" property="productPublish" />
    <result column="loan_online" jdbcType="INTEGER" property="loanOnline" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    lid, user_id, loan_use, loan_amount, loan_limittime, loan_payway, loan_goods, loan_worth, 
    loan_begintime, loan_gettime, loan_rate, product_checked, product_publish, loan_online
  </sql>
  <select id="selectByExample" parameterType="com.pursebao.commons.pojo.po.LoanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from loan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from loan
    where lid = #{lid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from loan
    where lid = #{lid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pursebao.commons.pojo.po.LoanExample">
    delete from loan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pursebao.commons.pojo.po.Loan">
    insert into loan (lid, user_id, loan_use, 
      loan_amount, loan_limittime, loan_payway, 
      loan_goods, loan_worth, loan_begintime, 
      loan_gettime, loan_rate, product_checked, 
      product_publish, loan_online)
    values (#{lid,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{loanUse,jdbcType=VARCHAR}, 
      #{loanAmount,jdbcType=DOUBLE}, #{loanLimittime,jdbcType=INTEGER}, #{loanPayway,jdbcType=INTEGER}, 
      #{loanGoods,jdbcType=VARCHAR}, #{loanWorth,jdbcType=DOUBLE}, #{loanBegintime,jdbcType=DATE}, 
      #{loanGettime,jdbcType=DATE}, #{loanRate,jdbcType=DOUBLE}, #{productChecked,jdbcType=DATE}, 
      #{productPublish,jdbcType=DATE}, #{loanOnline,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pursebao.commons.pojo.po.Loan">
    insert into loan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lid != null">
        lid,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="loanUse != null">
        loan_use,
      </if>
      <if test="loanAmount != null">
        loan_amount,
      </if>
      <if test="loanLimittime != null">
        loan_limittime,
      </if>
      <if test="loanPayway != null">
        loan_payway,
      </if>
      <if test="loanGoods != null">
        loan_goods,
      </if>
      <if test="loanWorth != null">
        loan_worth,
      </if>
      <if test="loanBegintime != null">
        loan_begintime,
      </if>
      <if test="loanGettime != null">
        loan_gettime,
      </if>
      <if test="loanRate != null">
        loan_rate,
      </if>
      <if test="productChecked != null">
        product_checked,
      </if>
      <if test="productPublish != null">
        product_publish,
      </if>
      <if test="loanOnline != null">
        loan_online,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lid != null">
        #{lid,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="loanUse != null">
        #{loanUse,jdbcType=VARCHAR},
      </if>
      <if test="loanAmount != null">
        #{loanAmount,jdbcType=DOUBLE},
      </if>
      <if test="loanLimittime != null">
        #{loanLimittime,jdbcType=INTEGER},
      </if>
      <if test="loanPayway != null">
        #{loanPayway,jdbcType=INTEGER},
      </if>
      <if test="loanGoods != null">
        #{loanGoods,jdbcType=VARCHAR},
      </if>
      <if test="loanWorth != null">
        #{loanWorth,jdbcType=DOUBLE},
      </if>
      <if test="loanBegintime != null">
        #{loanBegintime,jdbcType=DATE},
      </if>
      <if test="loanGettime != null">
        #{loanGettime,jdbcType=DATE},
      </if>
      <if test="loanRate != null">
        #{loanRate,jdbcType=DOUBLE},
      </if>
      <if test="productChecked != null">
        #{productChecked,jdbcType=DATE},
      </if>
      <if test="productPublish != null">
        #{productPublish,jdbcType=DATE},
      </if>
      <if test="loanOnline != null">
        #{loanOnline,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pursebao.commons.pojo.po.LoanExample" resultType="java.lang.Long">
    select count(*) from loan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update loan
    <set>
      <if test="record.lid != null">
        lid = #{record.lid,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.loanUse != null">
        loan_use = #{record.loanUse,jdbcType=VARCHAR},
      </if>
      <if test="record.loanAmount != null">
        loan_amount = #{record.loanAmount,jdbcType=DOUBLE},
      </if>
      <if test="record.loanLimittime != null">
        loan_limittime = #{record.loanLimittime,jdbcType=INTEGER},
      </if>
      <if test="record.loanPayway != null">
        loan_payway = #{record.loanPayway,jdbcType=INTEGER},
      </if>
      <if test="record.loanGoods != null">
        loan_goods = #{record.loanGoods,jdbcType=VARCHAR},
      </if>
      <if test="record.loanWorth != null">
        loan_worth = #{record.loanWorth,jdbcType=DOUBLE},
      </if>
      <if test="record.loanBegintime != null">
        loan_begintime = #{record.loanBegintime,jdbcType=DATE},
      </if>
      <if test="record.loanGettime != null">
        loan_gettime = #{record.loanGettime,jdbcType=DATE},
      </if>
      <if test="record.loanRate != null">
        loan_rate = #{record.loanRate,jdbcType=DOUBLE},
      </if>
      <if test="record.productChecked != null">
        product_checked = #{record.productChecked,jdbcType=DATE},
      </if>
      <if test="record.productPublish != null">
        product_publish = #{record.productPublish,jdbcType=DATE},
      </if>
      <if test="record.loanOnline != null">
        loan_online = #{record.loanOnline,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update loan
    set lid = #{record.lid,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      loan_use = #{record.loanUse,jdbcType=VARCHAR},
      loan_amount = #{record.loanAmount,jdbcType=DOUBLE},
      loan_limittime = #{record.loanLimittime,jdbcType=INTEGER},
      loan_payway = #{record.loanPayway,jdbcType=INTEGER},
      loan_goods = #{record.loanGoods,jdbcType=VARCHAR},
      loan_worth = #{record.loanWorth,jdbcType=DOUBLE},
      loan_begintime = #{record.loanBegintime,jdbcType=DATE},
      loan_gettime = #{record.loanGettime,jdbcType=DATE},
      loan_rate = #{record.loanRate,jdbcType=DOUBLE},
      product_checked = #{record.productChecked,jdbcType=DATE},
      product_publish = #{record.productPublish,jdbcType=DATE},
      loan_online = #{record.loanOnline,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pursebao.commons.pojo.po.Loan">
    update loan
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="loanUse != null">
        loan_use = #{loanUse,jdbcType=VARCHAR},
      </if>
      <if test="loanAmount != null">
        loan_amount = #{loanAmount,jdbcType=DOUBLE},
      </if>
      <if test="loanLimittime != null">
        loan_limittime = #{loanLimittime,jdbcType=INTEGER},
      </if>
      <if test="loanPayway != null">
        loan_payway = #{loanPayway,jdbcType=INTEGER},
      </if>
      <if test="loanGoods != null">
        loan_goods = #{loanGoods,jdbcType=VARCHAR},
      </if>
      <if test="loanWorth != null">
        loan_worth = #{loanWorth,jdbcType=DOUBLE},
      </if>
      <if test="loanBegintime != null">
        loan_begintime = #{loanBegintime,jdbcType=DATE},
      </if>
      <if test="loanGettime != null">
        loan_gettime = #{loanGettime,jdbcType=DATE},
      </if>
      <if test="loanRate != null">
        loan_rate = #{loanRate,jdbcType=DOUBLE},
      </if>
      <if test="productChecked != null">
        product_checked = #{productChecked,jdbcType=DATE},
      </if>
      <if test="productPublish != null">
        product_publish = #{productPublish,jdbcType=DATE},
      </if>
      <if test="loanOnline != null">
        loan_online = #{loanOnline,jdbcType=INTEGER},
      </if>
    </set>
    where lid = #{lid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pursebao.commons.pojo.po.Loan">
    update loan
    set user_id = #{userId,jdbcType=VARCHAR},
      loan_use = #{loanUse,jdbcType=VARCHAR},
      loan_amount = #{loanAmount,jdbcType=DOUBLE},
      loan_limittime = #{loanLimittime,jdbcType=INTEGER},
      loan_payway = #{loanPayway,jdbcType=INTEGER},
      loan_goods = #{loanGoods,jdbcType=VARCHAR},
      loan_worth = #{loanWorth,jdbcType=DOUBLE},
      loan_begintime = #{loanBegintime,jdbcType=DATE},
      loan_gettime = #{loanGettime,jdbcType=DATE},
      loan_rate = #{loanRate,jdbcType=DOUBLE},
      product_checked = #{productChecked,jdbcType=DATE},
      product_publish = #{productPublish,jdbcType=DATE},
      loan_online = #{loanOnline,jdbcType=INTEGER}
    where lid = #{lid,jdbcType=VARCHAR}
  </update>
</mapper>