@charset "utf-8";
/* CSS Document */

.bgcDfe{ background-color: #dfe4e9;}
/* layout */
.headerInner,.footerInner,.footerMsg,.main{width:971px;margin:0 auto;}
a:hover,
a:hover span{
  color:#297bc7;
}
a:focus{outline:none;}

/* twoBanner */
.twoBanner{height:106px;background:#069dd5 url('../images/two_banner_1.png') no-repeat center center;}
/* twoBanner end */

h1,h2,h3,h4{font-weight:normal;font-size:12px}


/*layout */
.header-inner,
.main,
.footer-inner{
  width:971px;
  margin:0 auto;
}
.topNav,.footer{
  min-width:971px;
}
.main{
  background-color:#fff;
}
.usercenter{
  padding: 30px 0 20px;
}

/*layout end */

/* ullist */
.ullist .itemli{
  position: relative;
  font-size: 14px;
  line-height: 22px;
  padding: 10px 15px 10px 0;
}
.ullist .bottomDashed{
  border-bottom: 1px dashed #E0E0E0;
}
.ullist .itemli input {
    height: 22px;
    line-height: 22px;
    margin-right: 10px;
    padding-left: 3px;
    border: none;
}

.ullist .itemli .tt {
    display: inline-block;
    left: 0;
    line-height: 22px;
    padding-right: 5px;
    position: absolute;
    text-align: right;
    width: 105px;
}
/* ullist end */
.cursor{
  cursor: pointer;
}
.redtxt {
    color: #ed3030;
    padding-right: 7px;
    *padding-top:3px;
    vertical-align: middle;
}

.placeholder{
  color: #c4c4c4;
}
.placeholder:focus{
  color: #5B5B5B;
}
.boxTitle {
    border-bottom: 1px solid #DEDEDE;
    color: #5B5B5B;
    font: 20px/24px "Microsoft YaHei";
    margin-bottom: 13px;
    padding-bottom: 12px;
    position: relative;
}
.bgbar{
  background-color: #4bc2fa;
  width:34px;
  height:4px;
  display: inline;
  position: absolute;
  bottom: -1px;
  left:0px;
}
.inpt{
  border: 1px solid #B5BBC4;
    padding-left: 3px;
    line-height: 22px;
    font-family: "Microsoft YaHei";
}
.none {display:none;}
.block {display:block;}
.size14 {font-size:14px;}
.autoCenter {
  width:980px;
  margin:0px auto;
}
.sep{
  color: #fff;
  padding: 0 5px;
}
.wd200{
  width: 200px;
}
.mt5 {
    margin-top: 5px;
}
.mt20 {
    margin-top: 20px;
}
.pdgT20 {
  padding-top: 20px;
}
.pdgT30 {
  padding-top: 30px;
}

/* main boxTitle */
.boxTitle{
  font: 18px/26px "Microsoft YaHei";
  margin-bottom: 20px;
}
.rgtip{
  height:18px;
  line-height: 18px;
  padding-top:0px;
  padding-bottom:0px;
}
.errorTip{
  height:22px;
  line-height: 22px;
  padding-top:8px;
  padding-bottom:8px;
}
.errorTip .btip{
  background: url(../images/valid_1.png) no-repeat 0px -75px;
  display: inline-block;
  *display: inline;
  *zoom:1;
  width:12px;
  height:12px;
  margin-right: 5px;
}
.boxOther{
  position: relative;
  width: 550px;
  float:left; 
}
.otherCon{
}
.otherCon img{ vertical-align: top;}
.toReg{
  margin-bottom: 10px;
}

.inputWrap{
  background:#fff;
  border: 1px solid #bfbfbf;
    -moz-border-radius: 6px; /* Firefox */
    -webkit-border-radius: 6px; /* Safari , Chrome */
    -ms-border-radius: 6px; /* ie9 */
    border-radius: 6px; /* Opera 10.5+ */
  /*background: url('../images/inpticons_1.png') no-repeat 0px -119px\9;
  border: 0\9;*/
  width:301px;
  height:47px;
  vertical-align: middle;
  position:relative;
}
.inputWrap:hover,
.inputWrap.hover{
    border: 1px solid #90d5f4;
    box-shadow: 0 0 2px 0 #90d5f4;
    -ms-box-shadow: 0 0 2px 0 #90d5f4; /* ie9 */
    /*box-shadow: 0 0 2px 0 #90d5f4 inset;*/
}
.inputWrap.inpterror{
  border: 1px solid #f06572;
    box-shadow: 0 0 2px 0 #f06572;
    /*box-shadow: 0 0 2px 0 #90d5f4 inset;*/
}



/* roundBtn */
.ullist .loginBtn .roundBtn,
.roundBtn{
  background: url('../images/inpticons_1.png') no-repeat 0px 1px transparent;
  display: inline-block;
  height:45px;
  line-height: 45px;
  border:0;
  padding: 0;
  padding-left: 110px;
  overflow: visible\9;
}
.ullist .loginBtn .roundBtn span,
.roundBtn span{
  padding-right: 15px;
  background: url('../images/inpticons_1.png') no-repeat right -60px transparent;
  background-position: right -59px\9;
  display: inline-block;
  height:45px;
  padding-right: 110px;
  line-height: 45px;
  color:#fff;
  font-family: "Microsoft YaHei";
  font-size: 18px;
  margin-right:-6px;
  *width:80px;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
  .ullist .loginBtn .roundBtn,
  .roundBtn{
    border-radius: 6px;
  }
  .ullist .loginBtn .roundBtn span,
  .roundBtn span {
    background-position: right -59px;
  }
}


/* roundBorder end */

/* imgRoundBtn */
.ullist .loginBtn .imgRoundBtn,
.imgRoundBtn{
  background: url('../images/tx_bg_1.png') no-repeat 0px -243px;
  background-color:none;
  display: inline-block;
  height:45px;
  line-height: 45px;
  border:0;
  padding: 0;
  width:300px;
  overflow: visible\9;
  color: #FFFFFF;
  font-family: "Microsoft YaHei";
  font-size: 18px;
  outline: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0){
  .ullist .loginBtn .imgRoundBtn,
  .imgRoundBtn{
    border-radius: 6px;
  }
}
/* imgRoundBtn end */

/* valid */
.oktip{
  background: url('../images/valid_1.png') no-repeat 0px -25px transparent;
  width:18px;
  height:18px;
  display: inline-block;
  *display: inline;
  *zoom:1;
  position: absolute;
    right: -30px;
    top: 35px;
}

/* main boxTitle end */

.tipBoxMain{background-color:#f4f4f4;margin:50px auto 150px;border-radius:5px;font-size:14px;text-align:center;padding:30px 0;}
.tipBoxMain dl{display:inline-block;*display:inline;*zoom:1;text-align:left;line-height:30px;padding-left:92px;}
.tipBoxMain dd{margin-bottom:5px;}
.tipBoxMain .msgMain{font-size:26px;padding-left:15px;margin-top:-70px;}
.tipBoxMain .tipSuccess .msgMain{color:#2ca735;}
.tipBoxMain .tipSuccess dt{
  background:url(../images/indexicon_1.png) no-repeat 0 -168px;
  width:77px;
  height:77px;
  overflow:hidden;
  margin-left:-92px;
}

/* service  */
.service{border:solid 1px #e3e3e3;border-top:solid 3px #5895d7;position:absolute;top:640px;right:0px;width:110px;text-align:center;color:#898989;font-size:12px;line-height:22px;background-color:#fff;}
.service-title{height:14px;overflow:hidden;}
.service .online{color: #488fd3;}
.icon-QQ{display:block;width:26px;height:28px;background:url(../images/indexicon_1.png) no-repeat -45px -120px;margin:11px auto 0;}
.service h4{font-size:14px;color:#595757;font-weight:normal;padding-bottom:10px;}
.service ul{padding-left:5px;text-align:center;padding-bottom:15px;}
.QR{border-top:dotted 1px #e6e6e6;padding:20px 0;}
.QR p{line-height:14px;}
.QR img{padding-top:10px;}
.icon-QR{display:none;position:absolute;padding:0 10px 10px;background-color:#EEEEEE;width:100px;}
.close-QR{float:right;width:9px;height:9px;background:url(../images/indexicon_1.png) no-repeat 0px -146px;margin:5px 5px 0 0;_margin-bottom:2px;}
/* service  end */

/* newsrvWrap  */
.newsrvWrap{right:0px;background:none;z-index:10;display: none;}
.newsrvWrap .newsrvPad,
.newsrvWrap .newsrvBd{
  float:left;
}
.newsrvPad{
  padding-right: 8px;
  padding-bottom: 10px;
  position: relative;
  background-color: #fff;
  border: 1px solid #ececec;
  border-right: 0;
  border-radius: 3px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0 2px 3px #e8e8e8;
  width:30px;
  height:113px;
  overflow: hidden;
  margin-top:60px;
  cursor: pointer;
  background:#fff;
}
.iSexp{
  margin-right: -1px;
}
.newsrvPad .kftxt{
  padding:36px 0 10px 13px;
  width:21px;
  font:14px/18px 'Microsoft YaHei';
  color: #000;
}
.newsrvPad .srvpop{
  width:14px;
  height:15px;
  background:url(../images/shareicon_1.png) no-repeat -125px 0px;
  position: absolute;
  top:15px;
  right:30%;
}
.newsrvPad.hover{background-color: #00d0be;}
.newsrvPad.hover .kftxt{color: #fff;}
.newsrvPad.hover .srvpop{background-position: -125px -20px;}
.newsrvWrap .newsrvBd{
  border: 1px solid #ececec;
  border-radius:3px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0 2px 3px #e8e8e8;
  padding-bottom: 10px;
}
.newsrvBd .newsrv-title{
  background:#0099d0;
  border-top-left-radius: 3px;
  

  width:148px;
  height:44px;
  font:bold 14px/44px 'Microsoft YaHei';
  text-align: center;
  vertical-align:middle;
  color: #fff;
}
.newsrvBd .newsrv-con{
  margin:1px 0;
  background-color:#ffffff;
}
.newsrvBd .newsrv-con ul{
  width: 90px;
  margin:0 auto;
}
.newsrvBd .newsrv-con li{
  width: 90px;
  height:45px;
  line-height: 45px;
  border-bottom: 1px dotted #bbb;
  color: #000;
  cursor:pointer;
}
.newsrvBd .newsrv-con li b{
  background:url(../images/shareicon_1.png) no-repeat -145px 0px;
  width:15px;
  height:16px;
  display: inline-block;
  *display: inline;
  zoom:1;
  position: relative;
  top:6px;
  margin-right: 10px;
}
.newsrvBd .newsrv-con li.online b{
  background-position: -145px -20px;
}
.newsrv-bottom{
  font:12px/18px 'Microsoft YaHei';
  height:40px;
  text-align: center;
  color: #000;
  padding-top:12px;
  padding-left: 5px;
  position: relative;
  background: #fff;
}

.newsrv-bottom em{
  padding-top:10px;
}

/* newsrvWrap  end */

/* qrcodeWrap */
.qrcodeWrap{
  position: fixed;
  top:320px;
  right:20px;
  z-index: 20;
  width:123px;
  height: 137px;
  background: #fff url(../images/qrcodebg_1.png) no-repeat;
  padding: 16px 14px 13px;
}
.qrcodeWrap img{
  vertical-align: middle;
  text-align: center;
}
.qrcodeWrap p{
  font-family: "Microsoft YaHei";
  font-size: 15px;
}
.qrcodeWrap .closeX{
  position: absolute;
  top:4px;
  right:5px;
  bottom: auto;
  background: url(../images/closex_1.png) no-repeat;
  width: 10px;
  height:10px;
  display: inline;
  cursor: pointer;
}
.qrcodeWrap .bankcardEntrance,
.qrcodeWrap .bcefast{
  position: absolute;
  top:-48px;
  right:0;
  background-color:#00d0be;
  border-radius: 5px;
  display: inline-block;
  padding: 12px;
  white-space: nowrap;
  font: bold 14px "Microsoft YaHei"; 
  color:#fff;
  behavior:url(../images/pie.htc);
}
/* qrcodeWrap end */


/* pagination wedgit */

.pagination {
  margin-top:20px;
    height: 30px;
    text-align: right;
}
.page-box-about .pagination{border-top: 1px solid #e3e3e3;margin-top: 30px;padding-top: 15px;}
.pagination ul {
    height: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
	text-align:center;
}
.pagination ul li {
 display:inline-block;height:28px; margin:0 2px; line-height: 26px;color:#272727;border:none;width:auto;vertical-align: top;
}
.pagination ul li a,.pagination ul li span{
  display: block;padding:0 12px;color:#272727;border:solid 1px #e8e8e8;
}
.pagination ul li.prev{border-left:none;}
.pagination ul li span{width:auto;}
.pagination ul li span.current {
	color: #fff;
	line-height: 26px;
	height: 26px;
}
.pagination li.pageWrapBtn, .pagination li.pageWrapBtn a{width:auto;height:auto;background-color:transparent;}
.pagination li.wrapinput{width:auto;height:auto;border:0;}
.pagination ul li:hover,.pagination .current{
  color:#FFF;background-color:#4bc2fa;text-decoration:none;
}
.pagination ul li:hover a{color:#fff;}

.pagination li.wrapinput{
  margin:0 0 0 5px;
}
.pagination li.wrapinput:hover{
    background: none;
}
.pagination li.pageWrapBtn{
	background: url(../images/page_bg_1.png) right top no-repeat;
	width: 26px;
	height: 27px;
	vertical-align: top;
	cursor: pointer;
	margin:0;
}
.pagination li.pageWrapBtn, .pagination li.pageWrapBtn a{font:bold 0px/27px 'Arial'}
.pagination li.pageWrapBtn a{border:0;font-size:0;}
.pagination input.pageinput {
    border: 1px solid #dddddd;
    border-right: none;
	width: 25px;
	height: 25px;
	line-height:17px;
	*line-height:25px;
	line-height:25px\9;
	vertical-align: top;
	padding: 0 4px;
	*margin-top:-1px;
}

/* pagination wedgit end */


/* member left  */
.leftSide{ width:241px; float:left; border:1px solid #dce1e6; border-right:0;}
.leftSide li a{ display:block; float:left; height:49px; border-bottom:1px solid #dce1e6; line-height:49px; clear:both; width:200px; font-size:14px; color:#666; font-weight:bold; border-right:1px solid #dce1e6; padding-left:21px; background:url(../images/membg_1.png) repeat-x;}
.leftSide li a.set{ width:241px; background:url(../images/mem_leftnavbg_1.png) no-repeat; color:#fff; border:0;}
.leftSide li a.set span{ background-position:0 0; width:6px; height:9px; margin-right:53px;}
.leftSide li a:hover{ text-decoration:none; color:#0c6dbc;}
.leftSide li a span{ float:right; display:inline-block; width:9px; height:6px; background:url(../images/rown_1.png) no-repeat; background-position:-7px 0; margin-top:20px; margin-right:10px;}
.leftSide li ul li a{ display:block; clear:both; height:46px; line-height:46px; font-weight:normal; padding-left:40px; width:181px; background:none;}
/* member left  end */

/* usercenter */
.inlblk{
  display: inline-block;
  *display: inline;
  zoom:1;
}
.fltL{
  float: left;
}
.cursor{
  cursor: pointer;
}
.mt55{
  margin-top: 55px;
}
.usercenter .w905{
  width:806px;
}
.red{
  color: red;
}
.c777 a,
.c777777 a {
    color: #777777;
}

.c777 a:hover,
.c777777 a:hover{ color: #1179D3;}

.nobdr{
  border:0;
}
.spbar{
  margin: 20px 0;
  border-top:4px solid #e9e9e9;
}
/* arrow icon */
b.upArr{
  background: url(../images/indexicon_1.png) no-repeat -39px -150px;  
}
b.downArr{
  background: url(../images/indexicon_1.png) no-repeat -55px -150px;
  width:11px;
  height:7px;
  display: inline-block;
  *display: inline;
  zoom:1;
  position: absolute;
  right: 0;
    top: 21px;
}
b.downArr1{
  background: url(../images/indexicon_1.png) no-repeat -67px -440px;
  width:10px;
  height:6px;
  display: inline-block;
  *display: inline;
  zoom:1;
  position: absolute;
  right: 0;
  top: 21px;
}
b.upArr{
  background: url(../images/indexicon_1.png) no-repeat -39px -150px;  
}
b.blueArr{
  background: url(../images/indexicon_1.png) no-repeat -38px -95px;
  width:6px;
  height:8px;
  display: inline-block;
  *display: inline;
  zoom:1;
  position: absolute;
  left:-10px;
  top: 12px;
}
/* arrow icon end */ 

.titlebar{
  position: relative;
  border-bottom:4px solid #e9e9e9;
  text-align: left;
  padding-bottom: 2px;
}
.titlebar .bgbar {
    background-color: #4BC2FA;
    bottom: -4px;
    display: inline;
    height: 4px;
    left: 0;
    position: absolute;
    width: 66px;
}
.titlebar label,
.titlebar .label{
    font:bold 16px/20px 'simsun';
    color: #222;
}
.green{
    color: #008000;
}
.sep {
    color: #888;
    font-weight: normal;
    padding: 0 7px 0 9px;
}

.ul_list01 .left li{
  background: url(../images/indexicon_1.png) no-repeat 0px -497px;
  height:21px;
  padding-left: 22px;
}

.imgBgButtom{
  width:305px;
  height:50px;
  border: 0;
  background: none;
}

/* usercenter end */


/* processBar */
.processBar,
.processBar .finish{
  -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari  Chrome */
    -ms-border-radius: 10px; /* ie9 */
    border-radius: 10px; /* Opera 10.5+ */
    _overflow:hidden;
}
.processBar{
  width:100%;
  height: 10px;
  background-color: #e2e2e1;
  border: 0;
  display: inline-block;
  *display: inline;
  *zoom:1;

}
.processBar .finish {
  height: 10px;
  background-color: #4f9be0;
  width:40%;
  text-align: left;
  *float: left;
}
.processNum{
  padding-left: 10px;
}
.processBarwrap .processNum{
  padding-left: 10px;
  font-size: 14px;
  color: #444;
}
table td .processBar,.processBarwrap .processBar{
  width:110px;
  height: 10px;
}
table td .processBar .finish,.processBarwrap .processBar .finish{
  background:#00cc33;
  height: 10px;

}
/* processBar end */

/*dialog  */
#JYD-ui-button-cancel, .button-cancel {
    margin-left: 20px;
    /*background: url("../images/zf_qrfu_1.png") no-repeat 0 -72px;
    border: 0;*/
    /*0916*/
    background:#ededed;
    border: 1px solid #ccc;
    /*0916 end*/
    color: #FFFFFF;
    height: 28px;
    line-height: 28px;
    width: 124px;
    display: inline-block;
    *display: inline;
    zoom:1;
}
.JYD-ui-content .czts {
    border: 0;
    }
    #JYD-ui-button-ok{
    display: inline-block;
    *display: inline;
    zoom:1;
    height: 28px;
    width: 124px;
    background: #ededed;
    border: 1px solid #ccc;
    }



/*floatTable*/
.floatTable{ clear:both; padding:10px;}
.floatTable th{ color:#3e3e3e; height:45px; line-height:45px; border-bottom:1px solid #e7e7e7; text-align:left;}
.floatTable td{  border-bottom:1px solid #e7e7e7; padding:10px 0; position:relative;}
.floatTable td b{ display:block; font-weight:normal; color:#086dc6;}
.floatTable td u{ text-decoration:none; color:#008000;}
.floatTable td u a{ display:inline-block; width:10px; height:6px; background-position:-52px -132px; margin-right:5px;}

.floatTable td p{ display:block; float:left; width:240px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.floatTable{ position:absolute; border:1px solid #cacaca; box-shadow:0px 2px 8px #aaa; background:#fff; z-index:100; width:310px; right:310px; display:none;}
.floatTable th{ border-bottom:1px solid #ccc; border-right:1px solid #cacaca;text-align:center; background:#f2f2f2; font-weight:normal;}
.floatTable td{ border-bottom:1px solid #ccc; border-right:1px solid #cacaca; text-align:center; padding:0; line-height:35px;}
.borrowerTitle td b{ display:block; max-width:200px;*width:200px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.floatTable td.no{ color:#f00;}
/*floatTable end*/

/*hidetip*/
.hidetip{
  text-indent: -9999px;
  background: none;
}
#codeImg #btn,
#codeImg .btn{
  height: 45px;
    margin-top: 0px;
    width: 111px;
}

.register{
}

.footerMsg a{ color: #000;}

/*pagingWrap*/
.pagingWrap{ padding: 20px 0 55px; text-align: center;}
.pagingWrap a,.pagingWrap .current{ display: inline-block; *zoom: 1;*display: inline; margin-right: 8px; padding: 0 12px 0 13px; height: 32px; font: 12px/32px "Microsoft YaHei"; color: #000; background-color: #fff; text-align: center;}
.pagingWrap a:hover,.pagingWrap .current{ background-color: #3c9ef1; color: #fff;}

