.warp { width: 970px; margin: 0 auto;}
.left { float: left;}
.right { float: right;}

/* banner*/
.slideBox{ width:100%; height:300px; overflow:hidden; position:relative; background-color:rgb(234, 71, 76);z-index:2;  }
.slideBox .hd{ width:100%;  position:absolute; z-index:1; bottom:5px; left:0; text-align:center; }	
.slideBox .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:11px; height:11px; margin:4px; background:#000; overflow:hidden; line-height:9999px; filter:alpha(opacity=40);opacity:0.4; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }	
.slideBox .hd ul .on{ filter:alpha(opacity=100);opacity:1; background: #05AFE7; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li { zoom:1; vertical-align:middle; height: 300px; background-position: center 0;}
.slideBox .bd a { display:block; height: 100%;  }
.slideBox .prev,.slideBox .next{ position:absolute; left:50%; top:50%; margin-top:-31px;display:block; width:33px; height:62px; background:url(../images/slider-arrow.png) no-repeat; filter:alpha(opacity=50);opacity:0.5;transition: all .2s ease-in-out;}
.slideBox .prev{ margin-left:-485px; background-position: 0 0; }
.slideBox .next{ margin-left:452px; background-position: right 0; }
.slideBox .prev:hover,.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1; transition: all .2s ease-in-out;  }

/*内容区*/
.jlc_data { background: #fff;padding: 18px 0; border-bottom: 1px #dfdfdf solid; }
.jlc_data ul { width: 970px; margin: 0 auto;}
.jlc_data li { width: 25%; float: left; text-align: center; line-height: 26px;*width:24.9%;}
.jlc_data li h4 { color: #969696; font-weight: normal;}
.jlc_data li p { font-size: 14px; color: #323232;}
.jlc_data li p em { font-size: 20px;  color: #ff6262; font-weight: bold;}

.article { padding-bottom: 20px;}
.article .advantage { margin-top: 20px; }
.article .advantage ul { overflow: hidden; zoom: 1; margin-left: -6px;}
.article .advantage li { width: 238px; float: left; text-align: center; padding: 22px 0; margin-left: 6px;background: #fff; }
.article .advantage li i { display: block; width: 74px; height: 74px; margin: 0 auto; background: url(../images/index_icon.png) 0 -180px no-repeat; -webkit-transform: rotate(0deg) ; transform: rotate(0deg); -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }
.article .advantage li i.icon1 { background-position-x: 0;}
.article .advantage li i.icon2 { background-position-x: -80px;}
.article .advantage li i.icon3 { background-position-x: -160px;}
.article .advantage li i.icon4 { background-position-x: -240px;}
.article .advantage li p { line-height: 24px; padding-top: 8px; font-size: 14px;}
.article .advantage li:hover i { -webkit-transform: rotate(360deg) ; transform: rotate(360deg) ; -webkit-transition: all 0.4s ease; transition: all 0.4s ease;}

/*滚动新闻*/
.scroll_news { margin-top: 20px;line-height:24px;height:24px; border: 1px #dfdfdf solid; padding: 10px 20px; overflow:hidden;}
.scroll_news i { display: block; height: 17px; float: left;}
.scroll_news .notice { width: 460px;}
.scroll_news .notice .more { color: #969696; }
.scroll_news .notice .more:hover { color: #1A5E9B; }
.scroll_news .notice .txtScroll { width: 360px; margin-left: 10px; }
.scroll_news .dynamic { width: 460px;}
.scroll_news .dynamic .txtScroll { width: 410px; margin-left: 10px; }
.txtScroll { overflow:hidden; position:relative; float: left; }
.txtScroll .infoList li{ height:24px;  }
.txtScroll .infoList li span{ float:right; color:#999;  }
.txtScroll .infoList li a { display: block; width: 280px;height:24px; color: #2279CA;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.scroll_news a:hover { color: #1A5E9B !important; text-decoration: underline;}



.projectTop{ width: 969px; border:#e3e3e3 solid 1px;}
.projectTop .firstLi{ width: 128px; background: #05afe7 url(../images/skewside.png) right 0 no-repeat; text-align: center;}
.projectTop .firstLi a{display: block; padding-right: 10px; height: 41px; line-height: 45px; border-bottom: #05afe7 solid 4px; font-size: 14px; color: #fff; cursor: default;}
.jbbCon .projectTop .firstLi a{ font-size: 13px;}
.projectTop .firstLi a b{ padding-right: 2px; font-size: 16px;}
.projectTop .firstLi li.active a{ background: #3c9ef1; border-radius: 7px 7px 0 0; color: #fff; position: relative; behavior:url(../images/pie.htc);}
.projectTop .noBorder{ border: none;}
.projectTop .protabDiv{ width: 609px; height: 46px; overflow: hidden; position: relative;}
.projectTop .protabDiv .poab{ position: absolute; top: 0; left: 0;}
.projectTop .protabDiv b{position: absolute; top: 15px; display: block; width: 6px; height: 11px; cursor: pointer;}
.projectTop .protabDiv b.next{right: 5px; background: url(../images/tabarrow.png) 0 0 no-repeat;}
.projectTop .protabDiv b.prev{left: 2px; background: url(../images/tabarrowleft.png) 0 0 no-repeat; display: none;}
.projectTop .projectTab{ /*border: #e3e3e3 solid 1px;*/ border-right: none; border-left: none; overflow: hidden; border-radius: 0 5px 0 0; position: relative; behavior:url(../js/PIE.htc);}
.projectTop .projectTab li{ text-align: center; border-bottom: #05afe7 solid 4px;}
.projectTop .projectTab li.lastLi{ width: 127px;}
.projectTop .projectTab li a,.projectTop .projectTab li a.active{ display: inline-block;*zoom: 1;*display: inline; width: 82px; height: 40px; border-radius: 7px 7px 0 0; line-height: 40px; font-size: 14px; color: #000;}
.projectTop .poab li a{ width: 70px; height: 40px; margin: 0; line-height: 40px;}
.projectTop .projectTab li.vipLi{ width: 116px;}
.projectTop .projectTab li.lastLi{ width: 115px;}
.projectTop .projectTab li.vipLi a{ font-size: 16px; font-weight: bold; font-family: "Arial"; color: #ff6000;}
.projectTop .projectTab li.lastLi a{ font-size: 14px; color: #ff6000;}
.projectBox .projectTab li.active a{ background: #3c9ef1; color: #fff;border-radius:7px 7px 0 0; position: relative; behavior:url(../images/pie.htc);}
.projectTop .projectTab li.vipLi em{ display: block; float: left; width: 2px; height: 40px; background-color: #e3e3e3;}
.projectTop .projectTab li.lastLi em{ float: left; display: block; width: 1px; height: 16px; margin-top: 13px; background-color: #e3e3e3;}
.projectTop .skipTab{ border: #e3e3e3 solid 1px; border-left: none; border-radius:0 7px 0 0;  position: relative; behavior:url(../js/PIE.htc);}
.projectTop .all{ position: absolute; right: 19px; top: 8px; padding-right: 10px; font-size: 14px; font-family: "Microsoft YaHei"; color: #000; background: url(../images/tabarrow.png) right center no-repeat;}
.projectTop .startingtime{ position: absolute; left: 155px; top: 8px; font-size: 14px;}
.projectTop .startingtime em{ color: #f62e0e;}
.projectTop .startingtime .notice{ padding-left: 28px;}
.projectTop .tips{ position: absolute; right: 104px; top: 10px; font-size: 14px; color: #0066ff;}

.projectCon{ margin-top: 20px; background: #fff;border:#e3e3e3 solid 1px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; position: relative; behavior:url(../images/pie.htc); overflow: hidden; z-index: 1;}
.projectCon .content .conItem{ border-bottom: #e3e3e3 solid 1px; position: relative;}
.projectCon .content .conItem .progress{ width: 75px; height: 106px; text-align: center; line-height: 12px; color: #05afe7;}
.projectCon .content .conItem .progress img{display: inline-block; *zoom: 1; *display: inline; margin-top: 28px; vertical-align: top;}
.projectCon .content .conItem .infor{ width: 240px; margin: 15px 20px 15px 0;}
.projectCon .content .conItem .infor h3{ width: 280px; padding-top: 10px; height: 35px; font-size: 16px; line-height: 18px; overflow: hidden;}
.creditorPart .content .conItem .infor h3{ width: auto;}
.projectCon .content .conItem .infor h3 a{ color: #000;}
.projectCon .content .conItem .infor h3 a:hover{ color: #297bc7;}
.projectCon .content .conItem .infor h3 span,.projectCon .content .conItem .infor h3 b{ display: inline-block; *zoom: 1; *display: inline; margin-top: 1px; width: 21px; height: 14px; margin-left: 5px; border:#f62e0e solid 1px; border-radius: 2px; font: 12px/14px "Arial"; color: #f62e0e; text-align: center; vertical-align: top; position: relative; behavior:url(../js/PIE.htc);}
.projectCon .content .conItem .infor h3 b{ background-color:#f62e0e; color: #fff; width: auto; padding: 0 5px; }
.projectCon .content .conItem .infor .time{ line-height: 20px;}
.projectCon .content .conItem .number{ width: 374px; margin: 15px 0; padding: 20px 0 5px; border-right: #e3e3e3 dashed 1px;}
.projectCon .content .conItem .number li{ float: left; position: relative; margin-right: 5px; width: 95px; font: 22px/22px "Arial","Microsoft YaHei"; text-align: center; color: #626161;}
.projectCon .content .conItem .number li.lastli{ padding: 0; margin: 0; width: 80px;}
.projectCon .content .conItem .number li em{ position: absolute; right: 0; top: 50%; margin-top: -6px; display: block; width: 1px; height: 12px; background-color: #cbcbcb;}
.projectCon .content .conItem .number li.ff3{ font-size: 18px; color: #ff3c00;}
.projectCon .content .conItem .number li .size14{ font-size: 14px;}
.projectCon .content .conItem .number li.red{ color: #ff3c00;}
.projectCon .content .conItem .number li.w123{ width: 180px;white-space: nowrap;}
.projectCon .content .conItem .number li span{ font-size: 12px; color: #464646;}
.projectCon .content .conItem .number li .b0b{ font-size: 12px; color: #000; line-height: 16px;}
.projectCon .content .conItem .number li p{ font-size: 12px; line-height: 30px; color: #000;}
.projectCon .content .conItem .infor .time b{ display: inline-block; *zoom: 1; *display: inline; width: 14px; height: 14px; margin-right: 5px; background: url(../images/clock.png) 0 0 no-repeat; vertical-align: top;}
.projectCon .content .conItem .btnbox{ padding: 0px 0 0 15px; *padding-top:30px; line-height: 21px; color: #3c3c3c;float:none;height:106px;*height:76px;display:table-cell;vertical-align:middle;}
.projectCon .content .conItem .btnbox p{ width: 131px; line-height: 18px;vertical-align:middle;}
.projectCon .content .conItem .btnbox em{ color: #05afe7;display:inline-block;*margin-bottom:5px;}
.projectCon .content .conItem .btnbox .btn{ display: block; vertical-align:middle;width: 117px; height: 23px; margin-top: 10px; background-color: #05afe7; border-radius: 15px; font: 14px/22px "Microsoft YaHei"; color: #fff; text-align: center; position: relative; behavior:url(../images/pie.htc);}
.projectCon .content .conItem .appoint em{ color: #f62e0e;}
.projectCon .content .conItem .appoint .btn{ background-color: #f62e0e;}
.projectCon .checkMore{ line-height: 39px; text-align: center;}
.projectCon .checkMore a{ color: #ff9800; display: block;}
.projectCon .checkMore:hover { background: #fafafa;}
.projectCon .conRight{ width: 225px;}
.projectCon .conRight .trends{ border:#e3e3e3 solid 1px; border-radius: 5px; overflow: hidden; position: relative; behavior:url(../js/PIE.htc);}
.projectCon .conRight .trends h3{ padding-left: 12px; height: 28px; background-color: #00b1ec; border:#00b1ec solid 1px; border-radius: 5px 5px 0 0; position: relative; behavior:url(../images/pie.htc); line-height: 28px; font-size: 14px; color: #fff;}
.projectCon .conRight .trends .list{ margin: 7px 5px 22px 5px; height: 265px; overflow: hidden;}
.projectCon .conRight .trends .list li{ height: 43px; border-bottom: #e3e3e3 dashed 1px; font: 12px/43px "simsun"; color: #444444;text-align: center;}
.projectCon .conRight .trends .list li span{display: block; float: left;}
.projectCon .conRight .trends .list li .time{ width: 60px; margin-top: 7px; padding-left: 10px; line-height: 14px; text-align: left;}
.projectCon .conRight .trends .list li .name{ width: 73px; color: #a1a1a1;}
.projectCon .conRight .trends .list li .money{ width: 70px; text-align: left; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.projectCon .conRight .trends .list li .money em{ color: #f62e0e;}
.projectCon .conRight .trends .containerTab li{ float: left; width: 111px; height: 31px; line-height: 31px; border-bottom: #e3e3e3 solid 1px; cursor: pointer; color: #292828; text-align: center; background-color: #f8f8f8;}
.projectCon .conRight .trends .containerTab li.firstLi{ border-right: #e3e3e3 solid 1px;}
.projectCon .conRight .trends .containerTab li.active{ color: #f62e0e; background-color: #fff;border-bottom-color: #fff;}
.projectCon .conRight .trends .containerCon{ padding: 0 0 14px; display: none;}
.pdt20{padding-top: 20px;}
.mgt9{ margin-top: 9px;}
.mgb18{margin-bottom: 18px;}

.vipPart .projectTop .projectTab,.creditorPart .projectTop .projectTab{border:none;}
.vipPart .projectTop .projectTab li{ width: 100px;}
.vipPart .content .conItem .progress{ width: 148px;}
.vipPart .content .conItem .progress img{ margin: 0;}
.vipPart .content .conItem .infor{ width: 386px; margin: 15px 0;}
.vipPart .content .conItem .infor h3{ padding: 6px 0 3px; font-size: 12px; height: auto;}
.vipPart .content .conItem .number{ width: auto; padding: 5px 0; margin: 0; border: none;}
.vipPart .content .conItem .number li p{ font-size: 14px; color: #ff3c00;}
.vipPart .content .conItem .number li p.size24{ font-size: 24px; color: #f62e0e; line-height: 24px;}
.vipPart .content .conItem .number li{ padding-right: 30px; margin-right: 30px;}
.vipPart .content .conItem .btnbox .btn{ width: 155px; height: 26px; line-height: 26px; background-color: #ff2705;}

.projectTop .projectTab li.w309{ width: 309px; height: 41px;}
.projectTop .projectTab li.w841{ width: 841px; height: 41px;}

/*projectList*/
.bgcDfe{ background-color: #dfe4e9;}
.projectList{ padding-top: 38px;}
.projectList .projectTop .protabDiv{width: 685px;}
.projectList .projectTop .projectTab{ border-radius: 0;}
.projectList .projectTop .projectTab li{ width: 97px; background: #fff; }
.projectList .projectTop .projectTab li.vipLi{ width: 158px; border-radius:0 7px 0 0;  position: relative; behavior:url(../js/PIE.htc);}
.projectList .projectTop .projectTab li.vipLi a{ width: 156px; font:normal 14px/40px "Microsoft YaHei"; border-radius:0 7px 0 0;  position: relative; behavior:url(../js/PIE.htc);}
.projectList .projectTop .firstLi,.projectList .projectTop .skipTab{ border: none;}
.projectList .projectTop .firstLi{ background: #fff; border-radius: 7px 0 0 0; position: relative; behavior:url(../images/pie.htc);}
.projectList .projectTop .firstLi a{ color: #000; padding: 0;}
.projectList .projectCon{ padding: 0;}
.projectList .projectCon .content{ width: 971px; border: none; border-radius: 0;}
.projectList .projectCon .content .conItem{ margin-bottom: 5px; border-bottom: #cacaca solid 1px; border-radius: 3px; background-color: #fff;}
.projectList .projectCon .content .conItem .infor{ width: 260px;}
.projectList .projectCon .content .conItem .number{ width: 355px; margin: 10px 0; padding: 27px 0 10px;}
.projectList .projectCon .content .conItem .number li{ margin-right: 20px;width: 85px;}
.projectList .projectCon .content .conItem .number li.lastli{margin:0;width: 65px;}
.projectList .projectCon .content .conItem .number li.w123{ width: 160px; margin-right: 20px;}
.projectCon .content .conItem .btnbox{ width: 210px; padding: 0px 0 0 30px; font-size: 14px;}
.projectCon .content .conItem .btnbox .money label{ width: 100px; padding-bottom: 12px;}
.projectCon .content .conItem .btnbox .money em{ width: 95px; padding-right: 15px; padding-bottom: 12px; text-align: right;}
.projectCon .content .conItem .btnbox .progressBg{ height: 2px; background-color: #eeeeee;}
.projectCon .content .conItem .btnbox .progressBg .progressBar{ height: 2px; background-color: #05afe7}
.projectCon .content .conItem .appoint .progressBg .progressBar{ background-color: #f62e0e;}
.projectCon .content .conItem .btnbox .btndiv{ padding-top: 8px;}
.projectCon .content .conItem .btnbox .btndiv .txtipt{ width: 116px; height: 25px; line-height: 25px; padding-left: 10px; border:#05afe7 solid 1px; font-size: 12px; color: #656c73; border-radius:15px 0 0 15px; }
.projectCon .content .conItem .appoint .btndiv .txtipt{ border-color: #f62e0e;}
.projectCon .content .conItem .btnbox .btndiv .btn{ width: 82px; margin: 0; height: 27px; line-height: 27px; cursor: pointer;border-radius:0 15px 15px 0; }
.projectCon .content .conItem .btnbox .btndiv .finish{vertical-align:middle;position: relative; margin-top: 0px; border-bottom: #d6dde2 dashed 1px; font-size: 16px; color: #21d4ac;}
.projectCon .content .conItem .btnbox .btndiv .finish span{ position: absolute; bottom: -10px; left: 50%; margin-left: -37px; display: block; width: 74px; background-color: #fff; text-align: center;}
.projectCon .content .conItem .btnbox .btndiv .w120{ width: 120px; }
.projectCon .content .conItem .btnbox .btndiv .w120 span{ width: 50px; margin-left: -25px;}
.projectList .projectCon .content .conItem .progress{ width: 80px;}
.projectList .projectCon .content .conItem .number li.red{ font-size: 21px;}




@-webkit-keyframes tada {
	0% { -webkit-transform: scale3d(1, 1, 1); -ms-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1) }
	10%, 20% { -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg); -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg); transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg) }
	30%, 50%, 70%, 90% { -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg) }
	40%, 60%, 80% { -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg) }
	100% { -webkit-transform: scale3d(1, 1, 1); -ms-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1) }
}

@keyframes tada {
	0% { -webkit-transform: scale3d(1, 1, 1); -ms-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1) }
	10%, 20% { -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg); -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg); transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg) }
	30%, 50%, 70%, 90% { -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg) }
	40%, 60%, 80% { -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg) }
	100% { -webkit-transform: scale3d(1, 1, 1); -ms-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1) }
}
@-webkit-keyframes bounce {
	0%, 100%, 20%, 53%, 80% { -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1); transition-timing-function: cubic-bezier(0.215, .61, .355, 1); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0) }
	40%, 43% { -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060); transition-timing-function: cubic-bezier(0.755, .050, .855, .060); -webkit-transform: translate3d(0, -30px, 0); transform: translate3d(0, -30px, 0) }
	70% { -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060); transition-timing-function: cubic-bezier(0.755, .050, .855, .060); -webkit-transform: translate3d(0, -15px, 0); transform: translate3d(0, -15px, 0) }
	90% { -webkit-transform: translate3d(0, -4px, 0); transform: translate3d(0, -4px, 0) }
}

@keyframes bounce {
	0%, 100%, 20%, 53%, 80% { -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1); transition-timing-function: cubic-bezier(0.215, .61, .355, 1); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0) }
	40%, 43% { -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060); transition-timing-function: cubic-bezier(0.755, .050, .855, .060); -webkit-transform: translate3d(0, -30px, 0); transform: translate3d(0, -30px, 0) }
	70% { -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060); transition-timing-function: cubic-bezier(0.755, .050, .855, .060); -webkit-transform: translate3d(0, -15px, 0); transform: translate3d(0, -15px, 0) }
	90% { -webkit-transform: translate3d(0, -4px, 0); transform: translate3d(0, -4px, 0) }
}
@-webkit-keyframes bounceIn {
	0%, 100%, 20%, 40%, 60%, 80% { -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1); transition-timing-function: cubic-bezier(0.215, .61, .355, 1) }
	0% { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3) }
	20% { -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1) }
	40% { -webkit-transform: scale3d(.9, .9, .9); transform: scale3d(.9, .9, .9) }
	60% { opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03); transform: scale3d(1.03, 1.03, 1.03) }
	80% { -webkit-transform: scale3d(.97, .97, .97); transform: scale3d(.97, .97, .97) }
	100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1) }
}
@keyframes bounceIn {
	0%, 100%, 20%, 40%, 60%, 80% { -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1); transition-timing-function: cubic-bezier(0.215, .61, .355, 1) }
	0% { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3) }
	20% { -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1) }
	40% { -webkit-transform: scale3d(.9, .9, .9); transform: scale3d(.9, .9, .9) }
	60% { opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03); transform: scale3d(1.03, 1.03, 1.03) }
	80% { -webkit-transform: scale3d(.97, .97, .97); transform: scale3d(.97, .97, .97) }
	100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1) }
}




