/* second_tzxq css */
/*公共样式*/
.mart10{ margin-top:10px;}
.mart20{ margin-top:20px;}
.mart50{ margin-top:50px;}
.marb100{ margin-bottom:100px;}
.mar45{ margin:45px 0px;}
.c666{ color:#666;}
.c333{ color:#333;}
/*实体*/
.main{
	color:#3e3a39;
	font-family: 'Microsoft YaHei';
}

.main-top{ background:url(../images/wydk_bg01.png) no-repeat; height:4px;}
.main-con{ border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; padding:35px; }

/*借款样式*/
.h2title{ background:url(../images/wydk_bg01.png) no-repeat scroll 0 -35px;font-size:20px; color:#222222; line-height:40px; width:80px;}
.h2title01{ background:url(../images/wydk_bg01.png) no-repeat scroll 0 -35px;font-size:20px; color:#222222; line-height:40px;}
.ul_list{ padding:50px 39px;}
.ul_list .liback{ /*background:url(../images/wydk_bg01.png) no-repeat scroll 0 -100px;*/ height:84px; width:160px; line-height:84px; border: 1px solid #dfdfdf; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; text-align:center; font-size:20px;}
.ul_list .liback01{background:url(../images/wydk_bg01.png) no-repeat scroll 0 -235px; height:84px; width:34px; margin:0 10px;}
.ul_list01{padding:45px; font-size:14px;}
.w252{ width:252px;}
.w210{ width:210px;}
.h3title{ background:#f3f3f3; margin-top:20px; line-height:36px;}
.h3title span{background:url(../images/wydk_bg01.png) no-repeat scroll 0 -352px; font-size:16px; padding-left:20px; margin-left:15px;}
.w340{ width:340px; text-align:right;line-height:28px ;padding-right:15px;}
.jkxx{ font-size:16px;}
.dd01 input{ width:500px; border:1px solid #c9c9c9;  height:28px;}
.dd02 input{border:1px solid #c9c9c9;  height:28px; width:226px;}
.dd03 input{ width:226px;border:1px solid #c9c9c9;  height:28px;}
.dd04 span{ padding-right:30px;}
.dd05 textarea{ width:495px;border:1px solid #c9c9c9; height:150px;}

/*温馨提示*/
.wxts{ border-top:1px solid #dfdfdf; }
.h3title01{background:url(../images/wydk_bg01.png) no-repeat scroll 0 -397px; font-weight:bold; color:#565656; padding-left:25px; font-size:14px;}
.wxts p{ color:#797979;font-size:14px;}
.main-btm{ background:url(../images/wydk_bg01.png) no-repeat scroll 0 -454px; height:3px;}

/*111111*/

/*审请贷款页面*/
#loanType,#repay_Way{height:30px;margin-right:5px;}
#limitUnit,#txsy select{height: 30px;margin-left:-5px;}
.repayBeginNum2{height: 30px;color:red;margin-left:0px;}
.repayEndNum2{height:30px;color:red;margin-left:200px;}
